services:
  backend:
    build: .
    container_name: busbackend
    ports:
      - "2000:2000"
    env_file:
      - .env
    depends_on:
      - redis
  
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    